
*{
    padding: 0;
    box-sizing: border-box;
}


#my-name{
    font-family: Impact;
}

#my-description{
    font-family: Impact;
    font-style: italic;
    color: #7C7A7A;
}

body{
    max-width: 500px;
    margin-inline: auto;
    text-align: center;
    background-image: url(pinkBackground.jpg);
}

p{
    color: #7C7A7A;
}

h1{
    max-width: 500px;
    color: #fff;
    background-color: #FF5D73;
    margin-inline: auto; 
}

h2{
    color: #FF5D73;

}

ul{
    color: #494949;
}

li{
    list-style: none;
}

strong{
    color: #494949;
}

hr{
    max-width: 500px;
}

#jennas{
    border-radius: 100%;
    border: 3px solid #FF5D73;
    margin-bottom: 20px;
}

#t2{
    margin-inline: auto;
}

.secret{
    max-width: 150px;
    opacity: 0;
    margin-inline: auto;
    
}

.secret:hover{
    opacity: 100;

}

a{
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: #000;
}

a:active{
    color: #FF5D73;
}